<div
  *ngIf="property as p"
  class="bg-white rounded-lg shadow border p-6 space-y-4 transition-transform duration-300 ease-in-out hover:scale-[1.02] hover:shadow-md cursor-pointer
         w-full max-w-sm h-[400px]"
  (click)="onClick.emit(p)"
>

  <!-- Imagem -->
  <div class="relative h-52 w-full rounded overflow-hidden">
    <img [src]="p.images?.[0] || 'assets/images/carregando-casa.png'" alt="Imagem do imóvel"
      class="w-full h-full object-cover" />

    <div class="absolute bottom-2 left-1/2 -translate-x-1/2 flex gap-1" *ngIf="(p.images?.length || 0) > 1">
      <span *ngFor="let image of p.images; let i = index" class="w-1.5 h-1.5 rounded-full" [ngClass]="{
        'bg-white': i === 0,
        'bg-white/50': i !== 0
      }"></span>
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="space-y-1 min-h-32 max-h-32">
    <!-- Descrição -->
    <p class="text-sm text-gray-700 line-clamp-2">
      {{ p.shortDescription || 'Descrição não disponível' }}
    </p>
  
    <!-- Preço -->
    <div class="text-lg font-semibold text-gray-900">
      R$ {{ p.price | number: '1.0-0' }}
    </div>
    
<!--   
    Condominio
    <div class="text-sm text-gray-500">
      R$ {{ p.condoFee || 0 }} Condo. + IPTU
    </div> -->
  
    <!-- Área e quartos -->
    <div class="text-sm text-gray-700 font-medium">
      {{ p.area }} m² · {{ p.bedrooms }} quarto{{ p.bedrooms > 1 ? 's' : '' }}
    </div>
  
    <!-- Endereço -->
    <div class="text-sm text-gray-500 line-clamp-1">
      {{ p.address || 'Endereço não disponível' }}
    </div>
  </div>
  
  <!-- Ação favorita -->
  <div class="flex justify-end">
    <button class="text-gray-400 hover:text-red-500 transition" title="Favoritar">
      <i class="fa fa-heart-o"></i>
    </button>
  </div>
</div>