@import "tailwindcss";

:root {
    --color-primary: #22c55e; /* green-500 */
    --color-primary-hover: #16a34a; /* green-600 */
    --color-primary-foreground: #ffffff;
  
    --color-background: #ffffff;
    --color-muted: #f0fdf4; /* green-50 */
    --color-muted-foreground: #4d7c0f; /* green-700 */
    --color-border: #bbf7d0; /* green-200 */
  }
  